.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges; }

.x.axis path {
  display: none; }

.line-blue {
  fill: none;
  stroke-width: 1.5px;
  stroke: #465358; }

.line-blue-bright {
  fill: none;
  stroke-width: 1.2px;
  stroke: #797E7F; }

.line-red {
  fill: none;
  stroke-width: 2px;
  stroke: #8F3225; }

.line-yellow {
  fill: none;
  stroke-width: 2px;
  stroke: #8F811D; }

.chartTitle {
  color: #465358;
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  margin-top: 7px; }

@media (min-width: 768px) {
  #chartList {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    height: 84vh;
    width: 100%; }
  .chart {
    width: 90%; } }
