
$color-default: #465358 ;
$color-groupN: #797E7F ;
$color-group0: #8F3225;
$color-group1: #8F811D;


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line-blue {
  fill: none;
  stroke-width: 1.5px;
  stroke: $color-default;
}

.line-blue-bright {
  fill: none;
  stroke-width: 1.2px;
  stroke: $color-groupN;
}

.line-red {
  fill: none;
  stroke-width: 2px;
  stroke: $color-group0;
}

.line-yellow {
  fill: none;
  stroke-width: 2px;
  stroke: $color-group1;
}

.chartTitle {
  color: $color-default;
  font-size: 1.3em; 
  font-weight: bold; 
  letter-spacing: -1px; 
  line-height: 1; 
  margin-top: 7px;
}

@media (min-width: 768px){
  #chartList {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    height: 84vh;
    width: 100%;
  }

  .chart {
    width:90%;
  }
}