
$color-group0: #ffa49a;
$color-group1: #f3ef8f;


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line-blue {
  fill: none;
  stroke-width: 1.5px;
  stroke: #465358;
}

.line-blue-bright {
  fill: none;
  stroke-width: 1.2px;
  stroke: #C3E7F5;
}

.line-red {
  fill: none;
  stroke-width: 2px;
  stroke: #8F3225;
}

.line-yellow {
  fill: none;
  stroke-width: 2px;
  stroke: #8F811D;
}

@media (min-width: 768px){
  #chartList {
    position: absolute;
    margin-top: 5%;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: scroll;
    height: 84vh;
    width: 100%;
  }

  .chart {
    width:90%;
  }
}